/*
Resetear el navegador y estilos generales
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  background-image: url(../img/sunny-day.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Kitten in the morning */

#kitten1 {
  width: 30%;
  height: auto;
  margin: 500px 0 0 300px;
}

/* Kitten in the afternoon */

#kitten2 {
  width: 70%;
  height: auto;
  margin: 200px 0 0 100px;
  display: none;
}

/* Kitten in the night */

#kitten3 {
  width: 70%;
  height: auto;
  margin: 200px 0 0 100px;
  display: none;
}
